#cookie-notice {
  padding: 7px 15px;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $fourth-color;
  color: $primary-color;
}
#cookie-notice a {
  cursor: pointer;
  margin-left: 10px;
  border: 1.5px solid $primary-color;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 700;
  &:hover {
    background: $primary-color;
    color: $second-color;
    transition: ease all 0.4s;
  }
}
@media (max-width: 767px) {
  #cookie-notice span {
    display: block;
    padding-top: 3px;
    margin-bottom: 13px;
  }
  #cookie-notice a {
    position: relative;
    bottom: 4px;
  }
}
